<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.whcb.tp2.rikitours">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.domain.common.country.CountryService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".views.MainActivity" />
        <activity android:name=".views.LayoutListingActivity" />
        <activity android:name=".views.ListActivity" />
        <activity android:name=".views.ViewActivity" />
        <activity android:name=".views.GalleryViewActivity" />
        <activity android:name=".views.MenuActivity" />
        <activity android:name=".UserProfile" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".CarRentalActivity" />
        <activity android:name=".AboutAppActivity"></activity>
    </application>

</manifest>